@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: rgba(102, 102, 102, 0.85);
  box-sizing: border-box; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1080px; }

li {
  list-style: none; }
  li a {
    text-decoration: none; }

.site-header {
  height: 8.4rem; }
  .site-header #lightbox {
    background: #f9a629;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    display: inline-block; }
    .site-header #lightbox svg {
      fill: #fff;
      margin: 5px; }
  .site-header li {
    display: inline-block;
    padding: 0 15px; }
    .site-header li svg {
      height: 20px;
      width: 20px; }
  .site-header .site-navigation {
    display: flex;
    align-items: center; }
    .site-header .site-navigation__logo {
      margin-right: 30px; }
    .site-header .site-navigation__menu {
      flex: 1; }
    .site-header .site-navigation a {
      transition: all .2s;
      color: rgba(102, 102, 102, 0.85);
      font-weight: 600;
      font-size: 1.35rem;
      text-transform: uppercase; }
  .site-header .site-user li {
    padding: 0 3px; }
    .site-header .site-user li:first-of-type {
      margin-right: 10px; }

.banner-section {
  padding-top: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(../img/internet-banking-ecommerce-concept-happy-young-smiling-female-with-afro-hairstyle-uses-modern-cell-phone-credit-card-online-shopping-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative; }
  .banner-section .flip-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .banner-section .flip-text__alt-text {
      font-family: 'Dancing Script', cursive;
      font-size: 3.2rem;
      line-height: 3.2rem;
      color: #fff;
      font-weight: 400; }
    .banner-section .flip-text__title {
      color: #f9a629;
      text-transform: uppercase;
      font-weight: 700;
      margin: 15px 0;
      letter-spacing: .05rem; }
      .banner-section .flip-text__title--large {
        font-size: 9rem;
        line-height: 9rem;
        display: block;
        margin-bottom: 1.1rem; }
      .banner-section .flip-text__title--small {
        font-size: 5.6rem;
        line-height: 5.6rem;
        margin-bottom: 1.1rem; }
