.lzs-card {
    box-shadow: 0 2px 2px 0 rgba(77, 77, 79, .08),
        0 0 2px 0 rgba(77, 77, 79, .16);
    border-radius: 5px;
    padding: 2rem 0;

    header {
        border-bottom: 1px solid $light-grey;
        padding-bottom: .8rem;
    }

    &__title {
        color: $dark;
    }

    &__title,
    .content {
        padding-left: 1.6rem;
    }

    .content {
        margin-top: 2rem;
    }
}