// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Copy text color
/// @type Color
$accent-color: #f9a629;
$text-color-light: rgba(102, 102, 102, 0.85);
$text-color-dark: #555;
$white: #fff;
$light-grey: #eee;
$dark: #232323;


/// Breakpoints map

$breakpoints: ('small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;


// Fonts
/// @type Fonts

$header-font-stack: 'Work Sans',
sans-serif;
$text-font-stack: 'Work Sans',
sans-serif;
$alternative-font: 'Dancing Script',
cursive;


/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https:lazyshopper.co.za/assets/';
$base-url: '/assets/' !default;